

<div class="sign-in-container">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <h2>Entrar</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        placeholder="Digite seu username"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Digite sua senha"
        required
      />
    </div>
    <button type="submit" class="btn-primary">Entrar</button>
    <p class="sign-up-link">
      Não tem uma conta? <a (click)="navigateToSignUp()">Cadastre-se</a>
    </p>
  </form>

  
</div>
