<header class="header">
    <div class="logo">
      <span class="logo-circle">Lumi</span><span class="logo-text">Articles</span>
    </div>
  
    <nav class="nav-links">
      <a routerLink="/jobs" routerLinkActive="active">Find Jobs</a>
      <a routerLink="/people">Teste 1</a>
      <a routerLink="/resumes">Teste</a>
    </nav>
  
    <div class="auth-buttons">
      <button class="sign-up" disabled>Sign Up</button>
      <button class="sign-in">Sign In</button>
      <div class="language-selector">
        <span class="material-icons">language</span>
      </div>
    </div>
  </header>
  