<header class="header">
  <div class="logo" (click)="navigateToHome()">
    <span class="logo-circle">Lumi</span><span class="logo-text">Articles</span>
  </div>



  <div class="auth-buttons">
    <!-- Quando NÃO estiver logado -->
    <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
      <button class="sign-up" (click)="navigateToSignUp()">Sign Up</button>
      <button class="sign-in" (click)="navigateToSignIn()">Sign In</button>
    </ng-container>

    <!-- Quando estiver logado -->
    <ng-template #loggedIn>
      <button class="profile-btn" (click)="navigateToProfile()">
        <span class="material-icons" style="color: #3f51b5;">account_circle</span>
      </button>
      <button class="logout-btn" (click)="logout()">
        <span class="material-icons" style="color: #3f51b5;">logout</span>
      </button>
    </ng-template>
    

  </div>
</header>
