p {
  margin: 0;
}

.results-container {
  padding: 30px;
  background-color: #fefefe;
  font-family: sans-serif;
}

.top-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-around;
}

.top-bar input {
  flex: 1;
  padding: 10px;
  border: 2px solid #c33ac7;
  border-radius: 8px 0 0 8px;
}

.top-bar button {
  background-color: #c33ac7;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 6px;
  font-weight: bold;
}

.frame-title {
  color: #aaa;
  margin-top: 25px;
  font-size: 14px;
}

.result-box {
  border: 1px solid #c33ac7;
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button span.material-icons {
  cursor: pointer;
  background-color: #c33ac7;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0 8px 8px 0;
}

.top-bar input:focus {
  outline: none;
  border-color: #c33ac7;
  box-shadow: none;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 80%;
}

.search-button {
  border-radius: 0 8px 8px 0 !important;
}

.result-button {
  padding: 10px 16px !important;
}
