<div class="container">
  <div class="text-area">
    <h1 class="title">  Encontre seus <span class="highlight">artigos científicos</span> com a Lumi</h1>
    <p class="subtitle">Chega de procurar artigos no escuro. A Lumi te mostra o caminho.</p>
  </div>

  <div class="search-area">
    <input [(ngModel)]="query" placeholder="Digite sua busca..." />
    <button (click)="search()">
      <span class="material-icons">search</span>
    </button>
  </div>
</div>

<div class="container-sub">

  <div class="sidebar">
    <div class="category-box">
      <span id="cat-title">Categorias</span>
    </div>
  
    <div 
      class="category-box" 
      *ngFor="let category of categories">
      <span>
        <span class="material-icons">lightbulb</span> 
        {{ category.name }}
      </span>
      <span class="count">{{ category.count }} Artigos</span>
    </div>
  </div>

  <div class="recommendations">

  
    <div class="article-box">
      <div class="article-header">
        <span>Publicado: 2 anos atrás |  </span>
        <span> Área: Inteligência Artificial</span>
      </div>
      <div class="article-title">Transformers para Processamento de Linguagem Natural</div>
      
      <div class="article-footer">
        <span class="info-block">
          <span class="material-icons">person</span> Ana Silva
        </span>
        <span class="separator">|</span>
        <span class="info-block">
          <span class="material-icons">school</span> Universidade de São Paulo (USP)
        </span>
      </div>
  
      <button class="apply-button">Ler Agora</button>
    </div>
  
    <div class="article-box">
      <div class="article-header">
        <span>Publicado: 6 meses atrás  |</span>
        <span> Área: Física</span>
      </div>
      <div class="article-title">Estudo Quântico de Buracos Negros Rotacionais</div>
  
      <div class="article-footer">
        <span class="info-block">
          <span class="material-icons">person</span> Carlos Lima
        </span>
        <span class="separator">|</span>
        <span class="info-block">
          <span class="material-icons">school</span> Universidade Federal do Rio de Janeiro (UFRJ)
        </span>
      </div>
  
      <button class="apply-button">Ler Agora</button>
    </div>
  
    <div class="article-box">
      <div class="article-header">
        <span>Publicado: 1 ano atrás  |</span>
        <span> Área: Matemática</span>
      </div>
      <div class="article-title">Topologia Algébrica Aplicada à Análise de Dados</div>
  
      <div class="article-footer">
        <span class="info-block">
          <span class="material-icons">person</span> Marina Costa
        </span>
        <span class="separator">|</span>
        <span class="info-block">
          <span class="material-icons">school</span> Instituto de Matemática Pura e Aplicada (IMPA)
        </span>
      </div>
  
      <button class="apply-button">Ler Agora</button>
    </div>
  
  
</div>


</div>

<button class="floating-bot-button">
  <span class="material-icons">smart_toy</span>
</button>




<!-- <div class="container-sub">
  <div class="sidebar">
    <div class="category-box">
      <span id="cat-title">Categorias</span>
    </div>

    <div *ngFor="let category of categories" class="category-box">
      <span><span class="material-icons">lightbulb</span> {{ category.name }}</span>
      <span class="count">{{ category.count }} {{ category.count === 1 ? 'Artigo' : 'Artigos' }}</span>
    </div>
  </div>
</div> -->


