<div class="container">
  <div class="text-area">
    <h1 class="title">
      Encontre seus <span class="highlight">artigos científicos</span> com a
      Lumi
    </h1>
    <p class="subtitle">
      Chega de procurar artigos no escuro. A Lumi te mostra o caminho.
    </p>
  </div>

  <div class="search-area">
    <input [(ngModel)]="query" placeholder="Digite sua busca..." />
    <button (click)="search()">
      <span class="material-icons">search</span>
    </button>
  </div>
</div>

<div class="container-sub">
  <div class="sidebar">
    <div class="title-rec">
      <b> <span id="cat-title">Categorias</span> </b>
    </div>

    <div class="category-box" *ngFor="let category of categories">
      <span>
        <span class="material-icons">lightbulb</span>
        {{ category.name }}
      </span>
      <span class="count">{{ category.count }} Artigos</span>
    </div>
  </div>

  <div class="recommendations">

      <div class="title-rec" id="title-rec">
       <b> <span> Recomendações para você</span> </b>
      </div>

    <div class="article-box" *ngFor="let rec of recommendations">
      <div class="article-header">
        <span>Publicado {{ rec.published | dateRelative }} | </span>
        <span> Área: {{ getCategoryName(rec.category)   || 'Sem categoria' }}</span>
      
        <!-- Ícone de informação com tooltip -->
        <span class="info-icon-container" tabindex="0" aria-label="Resumo do artigo">
          <span class="material-icons info-icon">info</span>
          <span class="tooltip-text">{{ (rec.summary || 'Sem resumo disponível').slice(0, 500) }}{{ rec.summary && rec.summary.length > 800 ? '...' : '' }}</span>
        </span>
      </div>
      
      <div class="article-title">
        <b>{{ rec.title || 'Sem título' }}  </b>
      </div>
  
      <div class="article-footer">
        <span class="info-block">
          <span class="material-icons">person</span>
          {{ rec.authors?.join(', ') || 'Autor desconhecido' }}
        </span>
      </div>
  
      <a [href]="rec.url" target="_blank" class="apply-button">Ler Agora</a>
    </div>
  </div>
  

<!-- <div class="container-sub">
  <div class="sidebar">
    <div class="category-box">
      <span id="cat-title">Categorias</span>
    </div>

    <div *ngFor="let category of categories" class="category-box">
      <span><span class="material-icons">lightbulb</span> {{ category.name }}</span>
      <span class="count">{{ category.count }} {{ category.count === 1 ? 'Artigo' : 'Artigos' }}</span>
    </div>
  </div>
</div> -->
